.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 15px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(212, 45%, 89%);
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
 
    
}
p{
    color: #D5E1EF;
    font-weight: 400px;
}
.card-container{
    height: 482px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.img-container{
    background: url("./images/image-qr-code.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.text-container{
    padding: 22px;
}
.text-container h1{
    font-size: 22px;
    color:#1F314F;
}
